# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/iris_env/
*.pt
*.onnx
*.engine

# Node / Frontend
node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Environment & Config
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Junk
.DS_Store
Thumbs.db
