# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/iris_env/
*.pt
*.onnx
*.engine

# Node / Frontend
node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Environment & Config
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Junk
.DS_Store
Thumbs.db

# Media Files
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.ts
*.mp3
*.wav
*.aac
*.flac
*.ogg
*.m4a


Project_Iris_Run
*.zip